.container {
    width: 100%;
    padding: 2rem 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cardContainer {
    > div:first-of-type {
        margin-bottom: 1.5rem;
    }
}

.info {
    display: flex;
    gap: 1.5rem;
}

.actions {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;

    div {
        text-align: center;
    }
}

@media (max-width: 720px) {
    .container {
        width: 100%;
        padding: 2rem 1rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .cardContainer > div:first-of-type, .container > div:first-of-type {
        display: flex;
        justify-content: center;
    }

    .info {
        flex-direction: column;
        max-width: 24em;
        margin: 0 auto;
    }
}
