.homePage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-items: center;
  align-self: center;
  text-align: center;
}

.valuePropositionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.valueProposition {
  margin-top: 42px;
  width: 300px; // Tamanho fixo padrão
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 819px) {
  .valueProposition {
    width: calc(33.33% - 1rem);
  }
}

.text {
  width: 100vw;
  white-space: normal;
  text-overflow: unset;
  overflow: visible;

  @media (min-width: 1024px) {
    flex: 1;
    display: block;
    width: 270px;
    align-self: flex-end;
  }
}

.banner {
  margin-top: 24px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 0;
    justify-content: center;
    text-align: left; // desktop: lado a lado
    align-self: center;
  }
}



.illustration {
  width: 90vw !important;
  max-width: 500px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (min-width: 1024px) {
    width: 661px;
  }
}