.homePage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;
}

.valuePropositionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.valueProposition {
  margin-top: 42px;
  width: 300px; /* Tamanho fixo padrão */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 819px) {
  .valueProposition {
    width: calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem); /* Garantir que o texto e conteúdo não estiquem */
  }
}

@media (min-width: 1024px) and (max-width: 1366px) { /* Ajustes para iPad Pro 12.9 (modo retrato) */
  .valueProposition {
    width: calc(50% - 1rem); /* Dois itens por linha no iPad Pro 12.9 */
    max-width: calc(50% - 1rem); /* Garantir que o conteúdo dentro não estique */
  }
}

.text {
  white-space: normal;
  overflow: visible;
  line-height: 1.5;
  display: block;
  word-wrap: break-word;
  margin-bottom: 24px;
  width: 100%; /* Isso garante que o texto não ultrapasse o tamanho do container */
  max-width: 270px; /* Limita a largura do texto */

  @media (min-width: 1366px) {
    align-self: flex-end;
  }
}


.banner {
  margin-top: 24px;
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;

  @media (min-width: 1366px) {
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-align: left;
  }
}

.illustration {
  width: 90vw;
  max-width: 500px;
  margin-top: 24px;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media (min-width: 1366px) {
    width: 661px;
  }
}
