@import 'variables.scss';

body {
    background-color: var(--mui-palette-background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    display: flex;
    height: calc(100dvh - 96px);
    max-height: 100dvh;
    padding: 0px;
    box-sizing: border-box;
}

.card {
    background: var(--mui-palette-color-white);
    padding: 2rem;
    border-radius: 8px;
    width: fit-content;
}